*.class
.classpath
.project
.settings
.gradle

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

/build
/bin
/logs
/pang-sdk-java/logs
pang-sdk-java.tar
pang-sdk-java.zip
pang-sdk-java.tar
pang-sdk-java.zip